# HuggingFace API
HF_API_KEY=your_huggingface_token

# MongoDB
MONGODB_URL=your_mongodb_url

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
